* { box-sizing: border-box; }

html {
   height: 100%;
   background-color: $white;
}
body {
   min-height: 100%;
   background-color: $white;
   font-family: $fontFamily;
}

h1, h2, h3 {
   margin: 10px;
}
p {
   margin: 3px;
}