.container {
   width: 90%;
   max-width: 1280px;
   margin-right: auto;
   margin-left: auto;
}

.button {
   width: 100%;
   padding: 15px;
   font-weight: bold;
   color: white;
   background-color: $green;
   border: none;
   outline: none;
   letter-spacing: 1px;
   cursor: pointer;
}

// task
.task {
   display: grid;
   grid-template-columns: repeat(1, 2em 1fr 2em);
   align-items: center;
   column-gap: 10px;
   padding: 5px;
   margin-bottom: 5px;
   border: 1px solid rgba(0, 0, 0, 0.068);
}
.task__color {
   height: 2em;
   width: 2em;
   background-color: currentColor;
   border-radius: 50%;
}
.task__check {
   height: 100%;
   display: block;
   margin: auto;
}
.done {
   opacity: .5;
   text-decoration: line-through;
}
.task-content__date {
   font-size: .8em;
   margin: 0;
}
.task-content__title {
   font-size: 1em;
   font-weight: 500;
   margin: 0;
}
.task__delete-button {
   border: none;
   outline: none;
   cursor: pointer;
   background-color: transparent;
   font-weight: 600;
   font-size: 1.3em;
   padding: 5px;
   color: rgb(248, 59, 59);
}

.errors {
   width: 90%;
   max-width: 350px;
   background-color: rgba(253, 81, 81, 0.986);
   color: $white;
   font-size: .8em;
   padding: 10px;
   border-radius: 3px;
   display: none;
   position: fixed;
   top: 10px;
   left: 50%;
   transform: translateX(-50%);
}

.show {
   display: block;
}

.green { color: $green; }
.blue { color: $blue; }
.yellow { color: $yellow; }
.red { color: $red; }