<header class="header">
   <div class="container header__container">
      <img src="./static/icon.png" alt="todo-list-icon" class="header__icon">
      <h1 class="header__title">Todo List</h1>
   </div>
</header>