<form class="form" id="taskForm">
   <input type="text" name="taskTitle" id="taskName" class="input-text" placeholder="Type your task here">
   
   <div class="form-columns">
      <input type="datetime-local" name="taskDate" id="taskDate" class="input-datetime">

      <div class="task-colors">
         <input type="radio" name="taskColor" value="green" id="green" checked>
         <label for="green" class="task-color green"></label>

         <input type="radio" name="taskColor" value="yellow" id="yellow">
         <label for="yellow" class="task-color yellow"></label>

         <input type="radio" name="taskColor" value="red" id="red">
         <label for="red" class="task-color red"></label>
      </div>
   </div>

   <button class="button" id="saveTask">SAVE TASK</button>
</form>